{% extends 'base.html.twig' %}

{% block title %}Green Food Label | Se Connecter{% endblock %}

{% block body %}
    <div class="massive-container">
        <div class="logo">
            <img src="{{ asset('build/logo.png') }}" height="200" width="200" alt="logo"/>
            <h1>Obtention du label Green Food</h1>
        </div>
        <div class="main-container">
            <div class="up-in-container">
                <h2>Déjà un compte ?</h2>
                <form method="post" class="login-form">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adresse e-mail</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mot de passe</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-success button-login">Se connecter</button>
                </form>
                <a href="{{ path('app_register') }}"><p class="login-account">Créer un compte</p></a>
                <a href="{{ path('app_forgotten_password') }}"><p class="login-account">Mot de passe oublié ?</p></a>
            </div>
        </div>
    </div>

{% endblock %}
